//
   Created by Dimitar on 8.1.2015 г..
extends layout
block content
   if !players.length
      h2 Все още няма участници!
   else
      table.table.table-striped.table-hover.water-mark
         thead
            tr
               th Име
               th Фамилия
               th Телефон за връзка
               th Редактиране
               th Изтриване
         tbody
            each player in players
               tr
                  td #{player.firstName}
                  td #{player.lastName}
                  td #{player.phoneNumber}
                  td
                     a.btn.btn-warning.btn-xs(href="/edit/#{player._id}") Редактиране
                  td
                     a.btn.btn-danger.btn-xs(href="/delete/#{player._id}") Изтриване