//
   Created by Dimitar on 9.1.2015 г..
extends layout
block content
   form.form-horizontal.jumbotron.water-mark(action="/edit/#{player._id}" method="post")
      fieldset
         legend Редактиране
         .form-group
            label.col-lg-2.control-label(for="firstName") Име
            .col-lg-10
               input.form-control(type="text" id="firstName" name="firstName" value="#{player.firstName}" required)
         .form-group
            label.col-lg-2.control-label(for="lastName") Фамилия
            .col-lg-10
               input.form-control(type="text" id="lastName" name="lastName" value="#{player.lastName}" required)
         .form-group
            label.col-lg-2.control-label(for="email") Е-майл
            .col-lg-10
               input.form-control(type="text" id="email" name="email" value="#{player.email}" required)
         .form-group
            label.col-lg-2.control-label(for="phoneNumber") Телефон за връзка
            .col-lg-10
               input.form-control(type="text" id="phoneNumber" name="phoneNumber" value="#{player.phoneNumber}")
         button.btn.btn-primary(type="submit") Редактиране
